[mysqld]
# Memory settings
innodb_buffer_pool_size=4G
innodb_log_buffer_size=256M

# Performance settings
innodb_read_io_threads=64
innodb_write_io_threads=64
innodb_io_capacity=5000
innodb_thread_concurrency=0
